/*------------------links--------------------*/
a:hover {
    text-decoration: none;
    color: black;
}

/*------------------images--------------------*/

.select-img {
    width: 250px;
    height: 250px;
}